html{
	}

.background{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
    background: url("img/Magenta_Screen.jpg");
	background-image: url("img/0279.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    z-index: -1000;
    margin: 0;
    padding: 0;
}

.weather{
	position: absolute;
    width: 150px;
    height: 150px;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    top: 7%;
    right: 4%;
}

.weatherIcon{
	position: relative;
	top: -14px;
	left: 25px;
	width: 100px;
	height: 100px;
}

.settingsIcon{
	position: absolute;
    opacity: 50%;
    height: 30px;
    width: 30px;
    top: 90%;
    right: 5%;
}
.weatherNumber{
	position: absolute;
    top: 75px;
    left: -43px;
    color: white;
    height: 70px;
    width: 240px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
}

.mainTextBox{
	position: absolute;
	top: 44%;
	left: 4%;
	font-size: 3rem;
	/*background: cornflowerblue;*/
	width: 605px;
    height: 110px;
}

.greeting{
	position: absolute;
	font-size: 3rem;
	font-family: sans-serif;
	color: white;
}

.inquiry{
	position: absolute;
	top: 60px;
	font-size: 2rem;
	font-family: sans-serif;
	color: white;
}

.response{
	position: absolute;
	top: 170px;
	font-size: 2rem;
	font-family: sans-serif;
	color: white;
	display: none;
}

.form{
	position: absolute;
    left: 251px;
    top: -51px;
    width: 180px;
    height: 30px;
 }
 .formInput{
	position: absolute;
	color: white;
    left: 3px;
    top: 60px;
    width: 213px;
    height: 30px;
    font-size: 3rem;
    font-family: sans-serif;
    background: none;
    border: solid white;
    text-align: center;
    line-height: 29px;
 }

.userInputBox{
    position: absolute;
    top: 58%;
    left: 4%;
    font-size: 3rem;
    width: 605px;
    height: 60px;
}

.option1{
    position: absolute;
    left: 0px;
    width: 180px;
    height: 30px;

    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 29px;
}

.option1:hover{
	border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    background: white;
}

.option2{
    position: absolute;
    left: 210px;
    width: 180px;
    height: 30px;
    
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 28px;
}
.option2:hover{
	border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    background: white;
}

.option3{
	position: absolute;
    left: 420px;
    width: 180px;
    height: 30px;
    
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 28px;
}
.option3:hover{
	border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    background: white;
}

.settingsBox{
    position: absolute;
    right: 5.88%;
    bottom: 8.004%;
    width: 0;
    height: 0;

    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 29px;
    z-index:-100;
}

.x{
	position: absolute;
	top:5px;
	right:5px;
	width: 20px;
	height: 20px;
	display: none;
}

.settingsTitle{
	position: absolute;
	top:2px;
    left: 11px;
    width: 180px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: left;
    line-height: 28px;
    display: none;
}

.setting1{
	position: absolute;
	top:40px;
    left: 11px;
    width: 180px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: left;
    line-height: 28px;
    display: none;
}

.setting2{
	position: absolute;
	top:60px;
    left: 11px;
    width: 180px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: left;
    line-height: 28px;
    display: none;
}

.setting3{
	position: absolute;
	top:80px;
    left: 11px;
    width: 180px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: left;
    line-height: 28px;
    display: none;
}